* { box-sizing: border-box; }
body {
    margin: 0;
    width: 10vh;
    height: 100vh;
    background: rgb(16, 16, 16);
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro", system-ui;
    color: white;
}

.file {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.file:hover {
    transform: scale(1.05);
}

#file1 { top: 15%; left: 10%; }
#file2 { top: 55%; left: 80%; }
#file3 { top: 15%; left: 75%; }

.passwordBox {
    width: 30%;
    position: absolute;
    top: 40%;
    left: 35%;

}

.title {
    font-family: monospace;
    margin-left: 10px;
}

input {
    font-family: monospace;
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    font-size: 16px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(14px) saturate(160%);
    -webkit-backdrop-filter: blur(14px) saturate(160%);
    outline: none;
}

#terminal {
    font-family: monospace;
    position: absolute;
    display: none;
    flex-direction: column;
    width: 40%;
    height: 20%;
    top: 10%;
    left: 20%;
}

#terminal.show {
    display: flex;
}

#topBar {
    background-color: rgb(42, 42, 42);
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    cursor: grab;
    user-select: none;
}

#topBar:active {
    cursor: grabbing;
}

#hint {
    background-color: #222;
    height: 75%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 2%;
}

.cursor::after {
    content: "▌";
    animation: blink 1s infinite;
}
  
@keyframes blink {
    50% { opacity: 0; }
}

.error {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
}

.error.closing{
    opacity: 0;
    transform: translateZ(0) scale(0.98);
    transition: opacity 900ms ease, transform 900ms ease;
  }

#errorTitle {
    height: 12%;
    width: 100%;
    background-color: red;
    color: black;
    font-family: monospace;
    font-size: large;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

#errorContent {
    width: 100%;
    height: 88%;
    border: 3px solid red;
    background-color: black;
    color: white;
    font-family: monospace;
    border-radius: 0 0 5px 5px;
    display: flex;
}

#skull {
    width: 25%;
    display: flex;
    align-items: center;
}

#errorMessage {
    width: 75%;
    display: flex;
    align-items: center;
}

   